<h2>All 20 FastAPI Projects</h2>
<ul>
<li><a href="/hello/Sravani">Hello User</a></li>
<li><a href="/students">Students</a></li>
<li><a href="/todos">Todos</a></li>
<li><a href="/products">Products</a></li>
<li><a href="/blogs">Blogs</a></li>
<li><a href="/employees">Employees</a></li>
<li><a href="/quote">Random Quote</a></li>
<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/courses">Courses</a></li>
<li><a href="/enrollments">Enrollments</a></li>
<li><a href="/urlshortener">URL Shortener</a></li>
</ul>