<!DOCTYPE html>
<html>
<head>
    <title>Contact List</title>
</head>
<body>

<h2>Contact List</h2>

<a href="/add-contact">Add Contact</a>
<br><br>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>

    {% for contact in contacts %}
    <tr>
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>
            <a href="/contact/{{ contact.id }}">View</a>
        </td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/">Go to Students</a>

</body>
</html>